body{
    background: rgb(107, 134, 241);
    font: normal 15pt Arial;
    margin: 0;
    padding: 0;
    
}
header{
    color: black;
    text-align: center;
    font-style: italic;

}
section{
    background: white;
    border-radius: 9px;
    padding: 2%;
    width: 500px;
    margin: auto;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.6);

}

footer{
    margin-top: 40px;
    color: black;
    text-align: center;
    font-style: italic;
    font-size: 18px;

}

div{
    text-align: center;
    padding: 9px;
    font-style: italic;
}


/* teste de responsividade */

@media(max-width: 550px){
    section{
    
        width: 300px;
    }
}